* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  max-width: min(1500px, calc(100vw - 20px));
  height: calc(98vh - 3rem);
  font-size: 25px;
  margin: 10px auto;
  padding: 15px;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.viewbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4px;;
}

.viewbar button {
  font-size: 20px;
  border-radius: 5px;
  font-weight: 500;
  width: 100%;
  background-color: #00000000;
  border: none;
  transition: 0.3s;
  padding: 3px;
  margin: 3px;
  margin-bottom:0;
}

.viewbar button.active {
  outline: 5px solid hsl(200, 25%, 50%);
}


.editor-previewer {
  display: flex;
  flex: 1;
  gap: 1rem;
  outline: 5px solid hsl(200, 25%, 50%);
  border-radius: 10px;
}

.editor, .previewer {
  width: 100%;
  height: 100%;
  outline: 1px solid black;
  padding: 1rem;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.editor {
  font-size: 16px;
  resize: horizontal;
}

#footer {
  text-align: center;
  margin: 1rem;
  max-height: 3rem;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}

#footer a {
  color: #333;
  padding: 3px;
  font-weight: 600;
  border-radius: 6px;
  transition: 0.2s ease-in-out;
}

#footer a:hover {
  background-color: #ddd;
  color: #111;
}